<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width:1580px" />
  <meta name="description" content="동아쏘시오그룹 2025">
  <title>동아쏘시오그룹 2025</title>
  <link rel="stylesheet" as="style" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov-dynamic-subset.min.css" />
  <link rel="stylesheet" href="/lib/swiper/swiper-bundle.min.css">
  <script src="/lib/swiper/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
  <div class="subtop">
    {{> Header }}

    <div class="container">
      <a href="#" class="btn-sub">
        <span>
            과제 <br>종합 관리
        </span>
        <i><i></i></i>
      </a>
    </div>

  </div>
  <main id="app" class="layout-sub">
    {{{body}}}
  </main>

  {{> Footer }}

  <script type="module" src="/js/main.js"></script>
</body>
</html>
